.MainNavigation {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #5101d1;
  padding: 0 1rem;
}

.NavLogo h1 {
  margin: 0;
  font-size: 1.5rem;
}

.NavItems {
margin: 0;
padding: 0;
}

.NavItems ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.NavItems li {
  margin: 1rem;
}

.NavItems li a,
.NavItems li button {
  font: inherit;
  text-decoration: none;
  border-radius: 5px;
  padding: .25rem;
  margin:0;
  background: transparent;
  color: white;
  border: none;
}

.NavItems li a:hover,
.NavItems li a:active,
.NavItems li button:hover,
.NavItems li button:active {
  background: white;
  color: #5101d1;
  cursor: pointer;
}

.ActiveLink {
  color: coral !important;
}
